@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page of the game. To start playing, click Play</p>
    <p>Click <b>Questions</b> on the top menu if you want to add few question to the pool.</p>
    <a type="button" class="btn btn-primary round-button-play" asp-controller="Game" asp-action="Index">Play</a>
    <h2 class="display-5 mt-3">Rules of the Game</h2>
    <div class="row justify-content-center">
        <div class="col-6 text-start">
            <p>The game on "Who Wants to Be a Millionaire" is a series of multiple-choice questions that each have four possible answers (A,B,C,D). The contestant must answer 15 of these questions correctly, one at a time, in order to win the million złoty. As soon as the contestant answers a question incorrectly, the game is over.</p>
            <p>During their game, the player has two "safety nets" – if a contestant gets a question wrong, but had reached a designated cash value during their game, they will leave with that amount as their prize. If a contestant feels unsure about an answer and does not wish to play on, they can walk away with the money they have won.</p>
        </div>
    </div>


</div>