@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page of the game. To start playing, click Play</p>
    <a type="button" class="btn btn-primary" asp-controller="Game" asp-action="Index">Play</a>
</div>
