@{
    Layout = "_Layout";
}

@model QuestionModel
@{
    ViewData["Title"] = "Add new question";
}

<h2>Add new question</h2>

<div class="col-8">
    <form asp-controller="Question" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label for="text" class="form-label">Question text</label>
            <textarea asp-for="Text" class="form-control" id="text" rows="3"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div>
            @{
                var labelText = "";
                for (var i = 0; i < 4; i++)
                {
                    if (Model.Answers[i].IsCorrect)
                    {
                        labelText = "Correct answer";
                    }
                    else
                    {
                        labelText = "Fake answer";
                    }

                    <dl class="row">
                        <dt class="col-sm-2">
                            <label class="form-label">@labelText</label>
                        </dt>
                        <dd class="col-sm-10">
                            <input type="text" asp-for="Answers[i].Text" class="form-control"/>
                            <span asp-validation-for="Answers[i].Text" data-valmsg-replace="true" class="text-danger"></span>
                            <input asp-for="Answers[i].Id" type="hidden"/>
                            <input asp-for="Answers[i].QuestionId" type="hidden"/>
                            <input asp-for="Answers[i].IsCorrect" type="hidden"/>
                        </dd>
                    </dl>
                }



            }

        </div>

        <input asp-for="Id" type="hidden"/>
        <input asp-for="IsEnable" type="hidden"/>


        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}